body {
  font-family: Arial, sans-serif;
}

.font {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

header {
  /* max-width: 1440px; */
  /* display: flex; */
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-novel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.openbtn {
  display: none;
}

.back_color {
  background-color: #333;
  height: 110px;
}

header img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

nav {
  width: 70%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  /* background-color: blue; */
}

.slide {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 50px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.main_title_h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 25px;
}

.main_title_h2 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}

.about_text {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  line-height: 3;
}

.about_text .br {
  display: none;
}

.link_jump {
  padding-top: 150px;
  margin-top: -50px;
}

.second_title {
  color: #333;
  margin-bottom: 200px;
  padding-bottom: 5%;
}

.second_title h3 {
  line-height: 1.5;
}

.about_heading {
  margin-bottom: 100px;
  font-size: 85px;
  font-weight: bold;
  text-align: center;
}

.long_heading {
  margin-bottom: 250px;
}

.short_heading {
  margin-bottom: 150px;
}

.third_title {
  padding: 5%;
  padding-top: 150px;
  margin-top: -50px;
  margin-bottom: 50px;
}

.poetry_title {
  padding: 5%;
  margin-bottom: 200px;
}

.poetry {
  display: flex;
  justify-content: center;
  line-height: 2;
  margin-bottom: 80px;
}

pre.wp-block-verse {
  overflow: hidden !important;
}

.quote {
  display: flex;
  justify-content: right;
}

.form {
  padding: 5%;
  padding-top: 150px;
  margin-top: -50px;
  margin-bottom: 150px;
}

footer {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin: 16px 0;
}

.news_title {
  padding: 10% 25%;
  margin-bottom: 100px;
}

/* ポスト全体のスタイル */
.post-page {
  margin-bottom: 50px;
  padding: 20px 30px 10px 30px;
  border: 1px solid #ddd;

  /* background-color: #f6f6f6; */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 265px;
}

.post-page:hover{
  transform: translateY(-5px);
}

.post-thum img {
  max-width: 100%;
  height: 100%;
}

/* タイトルのスタイル */
.post-title {
  font-size: 2.6em;
  color: #333;
  text-align: center;
  margin: 16px 0px;
}

.post-title a {
  color: #007BFF;
}

.post-title a:hover{
  text-decoration: underline;
}

/* 本文のスタイル */
.post-content {
  color: #666;
  line-height: 1.6;
  font-size: 2.0em;
  margin: 10px 0 10px 0;
}

.post-date-page {
  font-size: 1.8em;
  text-align: right;
}

.post-midashi{
  font-size: 4.0em;
  text-align: center;
  margin-bottom: 10px;
}

.post-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog_title {
  padding: 10%;
  margin-bottom: 100px;
}

.copyright-page {
  text-align: right;
  font-size: 0.7rem;
}



@media screen and (max-width: 977px) {
  .uagb-block-e4f33e76:not(.is-grid).uagb-post__items {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 844px) {

  

  .news_title {
    padding: 10% 5%;
  }

  .post-midashi{
    /* font-size: 3.0em; */
    font-size: 1.8em;
  }

  .post-page {
    /* display: block; */
    width: 150px;
    padding: 10px 15px 5px 15px;
    margin-bottom: 25px;
  }

  .post-title{
    /* font-size: 2.5em; */
    font-size: 1.6em;
    margin: 8px 0;
  }

  .post-content{
    font-size: 1.2em;
    margin: 5px 0 5px 0;
  }

  .post-date-page {
    font-size: 1.0em;
  }
  

  

  .main_title_h2 {
    margin-bottom: 0;
  }

  .about_heading {
    margin-bottom: 80px;
  }

  .long_heading {
    margin-bottom: 150px;
  }

  .short_heading {
    margin-bottom: 100px;
  }

  .poetry {
    margin-bottom: 40px;
  }

  cite {
    font-size: 20px;
  }

  .uagb-block-0bb1c552.uagb-timeline__outer-wrap
    .uagb-timeline__date-hide.uagb-timeline__inner-date-new {
    font-size: 30px;
  }

  header {
    position: initial;
  }

  .back_color {
    height: 0px;
  }

  .header_img {
    margin: 0 auto;
  }

  header img {
    width: 70px;
    height: 70px;
    margin-left: 0px;
  }

  .openbtn {
    display: inline;
  }

  .index_nav {
    display: none;
  }

  .about_heading {
    font-size: 50px;
  }

  .about_text {
    text-align: left;
    font-size: 24px;
    margin-left: 50px;
    line-height: 1.7;
  }

  .about_text .br {
    display: inline;
  }

  .about_text .br_margin {
    display: block;
    content: "";
    margin: 30px;
  }

  .second_title {
    margin-top: 0px;
    padding-top: 50px;
  }

  .third_title {
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 100px;
  }

  .uagb-block-0bb1c552.uagb-timeline__outer-wrap.uagb-timeline__left-block
    .uagb-timeline__day-new.uagb-timeline__day-left {
    margin-bottom: 50px;
  }

  .form {
    margin-top: 0px;
    padding-top: 50px;
  }
}
